.update-vaccine-modal {
    width: 500px;
    margin: auto;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    top:20%
}

.tabs {
    display: flex;
    gap:5px;
    margin-bottom: 20px;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background: #f0f0f0;
    border-radius: 4px;
    font-size: 16px;
}

.tab.active {
    background: #4caf50;
    color: white;
}

.edit-tab table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.edit-tab th,
.edit-tab td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #d32f2f;
}

.add-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.add-btn:hover {
    background-color: #45a049;
}

.close-btn {
    background-color: #008cba;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.close-btn:hover {
    background-color: #007bb5;
}
.add-form-group{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
}